{% extends 'index-corporate.html' %}
{% block contenido %}
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="text-dark font-weight-bold text-8">Nuestros Planes</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="pricing-table pricing-table-no-gap mb-4">
        {% for plan in planes %}
        <div class="col-md-6 col-lg-4">
                <div class="plan">
                    <div class="plan-header {% if plan.destacado %}bg-primary{% endif %}">
                        <h3>{{ plan.titulo }}</h3>
                    </div>
                    <div class="plan-price">
                        <span class="price"><span class="price-unit">$</span>{{ plan.precio_con_impuesto }}</span>
                        <label class="price-label">POR MES</label>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>10GB Disk Space</li>
                            <li>100GB Monthly Bandwith</li>
                            <li>20 Email Accounts</li>
                            <li>Unlimited Subdomains</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="#" class="btn btn-dark btn-modern btn-outline py-2 px-4">Sign Up</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
