{% extends 'index-corporate.html' %}
{% block contenido %}
<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="text-dark font-weight-bold text-8">Políticas de Privacidad y uso del Sistema Web</h1>
            </div>
        </div>
    </div>
</section>
    <div class="container py-4">
        <div class="row">
            <div class="col-12">
                <p> Dirección: Av. Ejercito y Gral Manuel Serrano, El Guabo, El Oro</p>
                <p>Teléfonos: 0993972840</p>
                <p>Correo: nodusnet.2020@gmail.com</p>
                <p>Horarios de atención: Lunes a Viernes de 8am a 5pm</p>
                <p style="font-weight: bold">
                    Recuerda que la Ley Orgánica de las Personas Adultas Mayores, publicada en el Registro Oficial
                    Suplemento 484 de 09 de mayo de 2019, en su artículo 13 dispone el beneficio del descuento del 50%
                    en cualquier plan por debajo del 12% de un SBU (Resolución ARCOTEL-2021-0073). Consulta si puedes
                    acceder a dicho requisito.
                </p>
                <p>
                    <a target="_blank" href="https://sites.google.com/view/nodusnet/calidad" class="btn btn-primary">Calidad del Servicio</a>
                    <a target="_blank" href="https://sites.google.com/view/nodusnet/consejos/seguridad" class="btn btn-primary">Consejos de Seguridad</a>
                    <a target="_blank" href="https://sites.google.com/view/nodusnet/consejos/ancho-de-banda" class="btn btn-primary">Ancho de Banda</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
