<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba de pago</title>

</head>
<body>
<div id="pp-button"></div>

<script src="https://pay.payphonetodoesposible.com/api/button/js?appId={{ configuracion.appid }}"></script>
<script>
    var idtransaccion = "";

    function mueveReloj() {
        momentoActual = new Date()
        hora = momentoActual.getHours()
        minuto = momentoActual.getMinutes()
        segundo = momentoActual.getSeconds()
        horaImprimible = "NODUSNET-" + Math.random() * (9999999999 - 9999 + 1) + "-" + momentoActual.getFullYear() + "" + momentoActual.getMonth() + "" + momentoActual.getDay() + "" + hora + minuto + segundo
        idtransaccion = horaImprimible
        setTimeout(mueveReloj, 1000)
    }

    mueveReloj()

    data = {
        amount: 20.60*100,
        amountWithoutTax: 20.60*100,
        currency: "USD",
        storeId: "{{ configuracion.storeid }}",
        clientTransactionId: idtransaccion.replace(".", "")
    }
    window.onload = function () {
        payphone.Button({
            //token obtenido desde la consola de developer
            token: "{{ configuracion.token }}",
            //PARÁMETROS DE CONFIGURACIÓN
            btnHorizontal: true,
            btnCard: true,
            createOrder: function (actions) {
                console.log()
                return actions.prepare(data);

            },
            onComplete: function (model, actions) {
                //Se confirma el pago realizado
                actions.confirm({
                    id: model.id,
                    clientTxId: model.clientTxId
                }).then(function (value) {
                //EN ESTA SECCIÓN SE RECIBE LA RESPUESTA Y SE MUESTRA AL USUARIO
                    if (value.transactionStatus == "Approved") {
                        alert("Pago " + value.transactionId + " recibido, estado " + value.transactionStatus);
                        console.log(value.transactionId + " recibido, estado " + value.transactionStatus)
                    }
                }).catch(function (err) {
                    console.log(err);
                });
            }
        }).render("#pp-button");
    }
</script>

<script>

</script>


</body>
</html>