{% extends 'index-corporate.html' %}
{% load static %}
{% block contenido %}
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
					<div class="container">
						<div class="row">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="text-dark font-weight-bold text-8">{{ cliente }}</h1>
								<span class="sub-title text-dark">Bienvenido a continuacion el detalle de tus transacciones</span>
							</div>
						</div>
					</div>
				</section>
    <div class="py-4 container table-responsive">
    <table class="table table-bordered table-striped">
    <thead>
    <th>DESCRIPCION</th>
    <th>Estado</th>
    <th>Ver Comprobante</th>
    </thead>
    <tbody>
        {% for deuda in deudas %}
        <tr>
            <td>{{ deuda.descripcion }}</td>
            <td>
                {% if deuda.estado == "Pagado" %}
                    Pagado el {{ deuda.fecha_pago }}
                {% else %}
                    <a class="btn btn-primary" href="#" onclick='pagar("{{ deuda.id }}","{{ deuda.cliente }}","{{ deuda.descripcion }}","{{ deuda.valor }}".replace(",","."))'>Por Pagar</a>
                {% endif %}
            </td>
            <td><a href="" class="btn btn-secondary"><i class="fa fa-print"></i> Ver Comprobante</a></td>
        </tr>
        {% endfor %}

    </tbody>

    </table>
    </div>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="https://pay.payphonetodoesposible.com/api/button/js?appId={{ pago.appid }}"></script>
    <script>
        function idtransaccion() {
            momentoActual = new Date()
            hora = momentoActual.getHours()
            minuto = momentoActual.getMinutes()
            segundo = momentoActual.getSeconds()
            horaImprimible = "NODUSNET-" + Math.random() * (9999999999 - 9999 + 1) + "-" + momentoActual.getFullYear() + "" + momentoActual.getMonth() + "" + momentoActual.getDay() + "" + hora + minuto + segundo
            return horaImprimible.toString().replace(".", "")
        }

        var data = {
            amount: 0,
            amountWithoutTax: 0,
            currency: "USD",
            storeId: "{{ pago.storeid }}",
            clientTransactionId: idtransaccion(),
            reference:"",
            responseUrl: "https://nodusnetsa.ec/ok",
            cancellationUrl: "https://nodusnetsa.ec/cash/",
        }

        function pagar(id,cliente,referencia,valor) {
            data.clientTransactionId="NODUSNET-"+id
            data.reference=referencia+" Cliente: "+cliente
            data.amount=parseFloat(valor)*100
            data.amountWithoutTax=parseFloat(valor)*100
            $.ajax({
                data: data,
                url: 'https://pay.payphonetodoesposible.com/api/button/Prepare',
                type: 'POST',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', "Bearer {{ pago.token }}")
                },
                success: function SolicitarPago(respuesta) {
                    location.href = respuesta.payWithCard;
                }, error: function (mensajeerror) {
                    alert("Este pago ya fue procesado..!");
                }
            });
        }


        window.onload = function () {
            payphone.Button({
                //token obtenido desde la consola de developer
                token: "{{ pago.token }}",
                //PARÁMETROS DE CONFIGURACIÓN
                btnHorizontal: true,
                btnCard: true,
                createOrder: function (actions) {
                    console.log()
                    return actions.prepare(data);

                },
                onComplete: function (model, actions) {
                    //Se confirma el pago realizado
                    actions.confirm({
                        id: model.id,
                        clientTxId: model.clientTxId
                    }).then(function (value) {
                        //EN ESTA SECCIÓN SE RECIBE LA RESPUESTA Y SE MUESTRA AL USUARIO
                        if (value.transactionStatus == "Approved") {
                            alert("Pago " + value.transactionId + " recibido, estado " + value.transactionStatus);
                            console.log(value.transactionId + " recibido, estado " + value.transactionStatus)
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                }
            }).render("#pp-button");
        }
    </script>
{% endblock %}

