<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prueba de pago</title>
    <script src="https://pay.payphonetodoesposible.com/api/button/js?appId=F8BQRJffnkOm79ae8BCE5w"></script>
    <script>
        window.onload = function () {
            payphone.Button({

//token obtenido desde la consola de developer
                token: "bhdcVxutdPvAFeUBUa4u93Ero0U7J4NPC3DLJ-kzww5ZSWMDc3aWI5IabyMqHcWc64U4q-HElHlqxRVq0ALlob2cfXQQ-58dLRIAh_KAANhjW30nr6qR87pzazFVYhUnmQtzkR9ccqRzIFypQDxEANFm1beAUSi4Lsc570IkbdfMq6Zm11b0oE2pEWxNMLhTjkilgQeLVKkHyK-Vfl-aPe95V8Xk8YpMoZjYT6K3-DZXfcoDbTY55cDnutZcDujamgYKOuuT7s5dLhIM2l4NW4ISB-7P0-_iCtHMwWnq3YyHN7gJABzJfKCwX_Jw_ujq--QQ-0mPjO5W0aNcvVDSx_NbtoY",

//PARÁMETROS DE CONFIGURACIÓN
                btnHorizontal: true,
                btnCard: true,

                createOrder: function (actions) {

//Se ingresan los datos de la transaccion ej. monto, impuestos, etc
                    return actions.prepare({

                        amount: 20,
                        amountWithoutTax: 20,
                        currency: "USD",
                        clientTransactionId: "1"
                    });

                },
                onComplete: function (model, actions) {

//Se confirma el pago realizado
                    actions.confirm({
                        id: model.id,
                        clientTxId: model.clientTxId
                    }).then(function (value) {

//EN ESTA SECCIÓN SE RECIBE LA RESPUESTA Y SE MUESTRA AL USUARIO

                        if (value.transactionStatus == "Approved") {
                            alert("Pago " + value.transactionId + " recibido, estado " + value.transactionStatus);
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });

                }
            }).render("#pp-button");

        }
    </script>
</head>
<body>
<div id="pp-button"></div>
</body>
</html>